<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AddFlightInfoServlet</servlet-name>
        <servlet-class>com.phoenixairline.controllers.FlightControllers.AddFlightInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.phoenixairline.controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.phoenixairline.controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.phoenixairline.controllers.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUsersServlet</servlet-name>
        <servlet-class>com.phoenixairline.controllers.SearchUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDCServlet</servlet-name>
        <servlet-class>com.phoenixairline.controllers.AdminDCServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFlightInfoServlet</servlet-name>
        <servlet-class>com.phoenixairline.controllers.FlightControllers.UpdateFlightInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFlightInfoServlet</servlet-name>
        <servlet-class>com.phoenixairline.controllers.FlightControllers.DeleteFlightInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFlightInfoServlet</servlet-name>
        <servlet-class>com.phoenixairline.controllers.FlightControllers.ViewFlightInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFlightInfoServlet</servlet-name>
        <servlet-class>com.phoenixairline.controllers.FlightControllers.SearchFlightInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectTicketServlet</servlet-name>
        <servlet-class>com.phoenixairline.controllers.ticketmanagement.SelectTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTicketServlet</servlet-name>
        <servlet-class>com.phoenixairline.controllers.ticketmanagement.CreateTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTicketServlet</servlet-name>
        <servlet-class>com.phoenixairline.controllers.ticketmanagement.UpdateTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTicketServlet</servlet-name>
        <servlet-class>com.phoenixairline.controllers.ticketmanagement.DeleteTicketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFlightInfoServlet</servlet-name>
        <url-pattern>/AddFlightInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUsersServlet</servlet-name>
        <url-pattern>/SearchUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDCServlet</servlet-name>
        <url-pattern>/AdminDCServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFlightInfoServlet</servlet-name>
        <url-pattern>/UpdateFlightInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFlightInfoServlet</servlet-name>
        <url-pattern>/DeleteFlightInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFlightInfoServlet</servlet-name>
        <url-pattern>/ViewFlightInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFlightInfoServlet</servlet-name>
        <url-pattern>/SearchFlightInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectTicketServlet</servlet-name>
        <url-pattern>/SelectTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTicketServlet</servlet-name>
        <url-pattern>/CreateTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTicketServlet</servlet-name>
        <url-pattern>/UpdateTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTicketServlet</servlet-name>
        <url-pattern>/DeleteTicketServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
